body {
   font-family: "Courier New";
   font-size: normal;
}
game, game-list, game-id, turn, winner, player {
   display: block;
}
game-list {
   background: white;
   position: absolute;
   width: 250px;
   top: 0px;
   left: 0px;
}
game-list input[type='radio'] {
   display: none;
}
game-list input[type='radio']:checked + label {
   color: white;
   background: black;
}
game-list label {
   display: block;
}
game-info {
   position: absolute;
   background: white;
   top: 0px;
   left: 630px;
   width: 250px;
   height: 50px;
}
game-info, game-list {
   padding: 5px;
}
game {
   position: relative;
   visibility: hidden;
   margin: 0px;
}
board {
   display: table;
   border: solid black 5px;
}
row {
   display: table-row;
}
space {
   display: table-cell;
   border: 1px solid black;
   vertical-align: middle;
   width: 75px;
   height: 75px;
   background: #d2d183;
}
space.usable {
   background: #505032;
}
piece {
   display: block;
   color: white;
   width: 60px;
   height: 60px;
   background-size: 60px;
   background-position: center;
   border-radius: 30px;
   margin: 0 auto;
}
piece.black {
   background-color: black;
}
piece.red {
   background-color: red;
}
piece.king {
   background-image: url(crown.png);
   background-repeat: no-repeat;
}
piece.is_turn {
   border: 1px solid yellow;
}
